<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">
              {{internship.title}}
            </h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Company</label>
                    <p>{{internship.company.name}}</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Username</label>
                    <p>{{internship.company.user.name}}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Email address</label>
                    <p>
                      {{internship.company.email}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Description</label>
                    <article>
                      {{internship.description}}
                    </article>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <p>
                      {{internship.city}}, {{internship.state_name}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <h4>Internship Details</h4>
                  <div class="internship-details">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <div class="form-group"><label for="">Internship Field</label>
                          <p>
                            {{internship.internship_field.name}}
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group"><label for="">Skills required</label>
                          <p>
                            <span ng-repeat="skill in internship.skills">
                              {{skill.name}} ({{skill.pivot.expertise_level}})<span
                              ng-show="$index < (internship.skills.length - 1)">,</span>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Duration</label>
                    <p>{{internship.duration_type}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-12"><label for="">Stipend (from - to)</label></div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4">Rs : {{internship.stipend_from}}</div>
                    <div class="col-xs-12 col-sm-4">Rs : {{internship.stipend_to}}</div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
                 alt="..."/>
          </div>
          <div class="content">
            <div class="author">
              <a href="#">
                <img class="avatar border-gray" ng-src="{{internship.company.user.profile_image}}" alt="..."/>

                <h4 class="title">{{internship.company.user.name }}<br/>
                  <small>{{ internship.company.user.username}}</small>
                </h4>
              </a>
            </div>
            <p class="description text-center">
              {{internship.company.user.describe}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>