<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4>Internship Fields</h4>
          </div>
          <div class="content">
            <table class="table table-stripe">
              <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Company</th>
                <th>Field</th>
                <th>Skills</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="internship in internship_list">
                <td></td>
                <td>{{internship.title}}</td>
                <td>{{internship.company.name}}</td>
                <td>{{internship.internship_field.name}}</td>
                <td>
                  <ul class="internship-list">
                    <li ng-repeat="skill in internship.skills track by $index"> {{skill.name}}</li>
                  </ul>
                </td>
                <td>
                  <a ui-sref="internship({id:internship.id})" class="btn btn-sm btn-primary">View</a>
                  <a href="" class="btn btn-sm btn-primary">
                    Edit
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>