<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4>Internship Fields</h4>
          </div>
          <div class="content">
            <table class="table table-stripe">
              <thead>
              <tr>
                <th>#</th>
                <th>Field</th>
                <th>Skills</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="internship in intership_fileds">
                <td></td>
                <td>{{internship.name}}</td>
                <td>
                  <ul class="internship-list">
                    <li ng-repeat="skill in internship.skills track by $index"> {{skill}}</li>
                  </ul>
                </td>
                <td>
                  <form action="">
                    <a href="" class="btn btn-sm btn-primary">
                      Edit
                    </a>
                  </form>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>