<div class="content">
  <div class="container-fluid ">
    <div class="row">
     <div class="col-md-12">
      <div class="card ">

      <div class="row re-skills">
            <div class="col-xs-12 col-sm-6 col-lg-6">
              <h5>Skills</h5>
          <select class="js-example-basic-single form-control">
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
          </select>

            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
              <h5>Skill Details</h5>

              <span class="tag label label-info">
               <span>Skill1</span>
               <a>&#9747;</a>
              </span>
              <span class="tag label label-info">
               <span>Skill2</span>
               <a>&#9747;</a>
              </span>
              <span class="tag label label-info">
               <span>Skill3</span>
               <a>&#9747;</a>
              </span>

              </div>
      </div>


        <div >
        <tags-input ng-model="tags"></tags-input>
        <p>Model: {{tags}}</p>
        </div>





        </div>
      </div>
    </div>
  </div>
</div>