<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="header">
            <h4>Users</h4>
          </div>
          <div class="content">
            <div class="table-full-width">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Type</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in users">
                    <td>{{$index + 1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.type == 1 ? 'Company':'Student'}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>