<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="header">
            <h4 class="title">Company Lists</h4>
          </div>
          <div class="content">
            <div class="table-full-width">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>State</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="company in companies">
                    <td>{{$index + 1}}</td>
                    <td>{{company.name || 'Not available'}}</td>
                    <td>{{company.email}}</td>
                    <td>{{company.organization_type  | company_type}}</td>
                    <td>{{company.state_name}}</td>
                    <td>
                      <a href="" class="btn btn-sm btn-primary">
                        view
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>