.r-white-text{
    color: #fff;
}

.nimmy-top{
    height:70px;
    background:#3B4557;
    }

.nimmy-top1{
    background-color: lightgray;
    }

.nimmy-im{
    position:absolute;
    top:50px;
}

/** OVERRIDE BOOTSTRAP CLASSES */
.form-horizontal{
    .control-label.text-left{
        text-align: left;
    }
    .form-group.form-group-reset{
        .form-group{
            margin-left: 0;
            margin-right: 0;
        }
    }
}
.c-list-group{
    .list-group-item{
        padding: 0;
        a{
            padding: 10px 15px;
            position: relative;
            display: block;
            span{
                float: right;
            }
        }
    }
}
/** EOF OVERRIDE BOOTSTRAP CLASSES */


/**
*dev: nimmy
*date: 10/10/2016
*feature: sidebar page
**/

.rp-glyp{
    position: absolute;
    bottom:20px;
    left:50%;
    margin-left: -12px;
}


.image-wrapper{
    position: relative;
    .glyphicon-folder-open{
        line-height: inherit;
    }


    .glyphicon-ring {
        vertical-align: middle;
        width: 40px;
        height:40px;
        border-radius: 60%;
        border: 1px solid white;
        color: white;
        display: inline-table;
        text-align: center;
        line-height: 40px;
    }
    .rp-glyp{
        opacity: 0;
        cursor: pointer;
        span{
            cursor: pointer;
        }
    }
    &:hover,&:active{
        .rp-glyp{
            opacity: 1;
                .glyphicon-ring {
                  &:hover{
                    background: #fff;
                    color: #333;
                    span {
                      color: #333;
                    }
                  }
                }
        }
    }
}


