$icon-font-path : '../../fonts/bootstrap/';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build";
@import "bootstrap-theme";
@import "style";

#skill-box-list{
  display: block;
  margin: 0 0 15px;
  padding: 0;
  li{
    display: inline-block;
    margin: 0 5px 5px 0;
  }
}
.common-form-wrapper{
  display: block;
  padding: 0 0 40px;
}


.qualification-fields{
  display: block;
  .qualification-section{
    display: none;
    &.open{
      display: block;
    }
  }
}

form.main-forms{
  display: block;
  margin-bottom: 30px;
  &:before,&:after{
    display: table;
    content: '';
    width: 100%;
    height: 0;
    position: relative;
  }
}

.parsley-errors-list{
  &.filled{
    padding: 0;
    margin: 0;
    .parsley-required{
      padding: 5px;
      background: red;
      color: #fff;
      font-size: 12px;
    }
  }
}