@import 'variables';
@import 'mixins';
@import "device";


/** HEADER SECTION **/

html,
body {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', 'sans-serif';
}

h1,
h2,
h3 {
    font-family: 'Baloo Chettan', cursive;
}

.c-navbar {
    height: 80px;
    background: $TOP_HEADER_BG;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    .navbar-brand{
        h2{
            color: $TOP_HEADER_TEXT;
        }
    }
    h1,
    h2,
    h3 {
        margin: 0;
        padding: 10px 0;
    }
    .navbar-nav {
       >  li {
           >  a {
                padding-top: 30px;
               padding-bottom: 30px;
                font-size: 16px;
                font-weight: bold;
               color: $TOP_HEADER_LINK;
            }
        }
    }
}


/** EOF HEADER **/
.form-control{
    @include c-border-radius(0,0,0,0);
}
.form-horizontal{
    .control-label{
        &.text-left{
            text-align: left;
        }
        &.text-center{
            text-align: center;
        }
    }
}
.form-horizontal{
    .form-inline{
        .form-group{
            margin-left: 0;
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}



/**
*dev: reshma
*date: 12/9/2016
*feature: page footer

**/

.footer-wrapper{
    background-color: #000011;
    color: white;
    padding-top: 50px;
    ul.footer-list-ul{
        margin: 0 0 15px 0;
        padding: 0;
        li{
            list-style: none;
            margin-bottom: 5px;
            a {
                text-decoration: none;
                span {
                    color: grey;

                }
            }
        }
    }
    p{
        color: grey;
    }
    h4{
        margin-top: 0;
        margin-bottom: 30px;
    }

}
.red {
    color: red;
}


.foot{
    margin-bottom: 40px;
    text-align: center;
}
/**eof footer **/

/**
*dev: reshma
*date: 12/9/2016
*feature: page internship_list

**/

.intern_wrapper{
    padding-bottom: 50px;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

/**eof internship_list **/

table.table.table-bordered{
    tr{
        td[rowspan]{
            vertical-align: middle;
        }
    }
}

.main-fixed-alert{
    position: fixed;
    pointer-events: none;
    width: 100%;
    top: 100px;
    left: 0;
    padding: 20px 20%;
    .alert{
        pointer-events: auto;
    }
}

/**
*dev: reshma
*date: 18/9/2016
*feature: page 404 error

**/


.wrap_error{
    font-family: 'Courgette', cursive;
    background: #f3f3f3;
    padding-top: 80px;
    padding-bottom: 130px;
}
.wrapr{
    margin:0 auto;

}
.logo{
    margin-top:50px;
}
.logo h1{
    font-size:200px;
    color:#8F8E8C;
    text-align:center;
    margin-bottom:1px;
    text-shadow:1px 1px 6px #fff;
}
.logo p{
    color:darkred;
    font-size:20px;
    margin-top:1px;
    text-align:center;
}

.sub a{
    color:white;
    background:#8F8E8C;
    text-decoration:none;
    padding:7px 120px;
    font-size:13px;
    font-family: arial, serif;
    font-weight:bold;
    -webkit-border-radius:3em;
    -moz-border-radius:.1em;
    -border-radius:.1em;
}
/**eof 404 error page **/