$body_bg: #f3f3f3;
$font_size: 14px;
$TOP_HEADER_BG: #556790;
$TOP_HEADER_TEXT: #fff;
$TOP_HEADER_LINK: #fff;

/** HOME CAROUSEL **/

$HOME_CAROUSEL_CONTENT_BG: #556790;
$HOME_CAROUSLE_CONTENT_TEXT: #fff;

/** EOF HOME CAROUSEL **/

/** REGISTER PAGE **/
$REGISTER_PANEL_BG: #556790;
$REGISTER_PANEL_HEADING: #fff;
/** EOF REGISTER PAGE **/