.home-slider-inner {
    display: block;
    position: relative;
}

#home-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
    z-index: 1;
    .image-item {
        overflow: hidden;
        height: calc(100vh - 80px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.home-content-section {
    display: block;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: 0;
    width: 100%;
    .content-section {
        width: 60%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background: rgba($HOME_CAROUSEL_CONTENT_BG, 0.7);
        color: $HOME_CAROUSLE_CONTENT_TEXT;
    }
    .box-section {
        a.register {
            margin-top: 30px;
            font-size: 14px;
            pointer-events: all;
            font-weight: bold;
            @include c-border-radius(4px, 4px, 4px, 4px);
            border: none;
            padding: 14px 20px;
            @include c-transition(all, 0.4s, ease-out, 0.05s);
            &:hover,
            &:active,
            &:focus {
                background: #378a77;
                color: #fff;
            }
        }
    }
}

.list-wrapper {
    padding: 40px;
    background: #eee;
}

.circle-icons {
    display: block;
    margin: 0;
    padding: 0;
    li {
        width: 25%;
        float: left;
        display: block;
        padding: 10px;
        a {
            @include c-border-radius(50%, 50%, 50%, 50%);
            display: block;
            border: 1px solid #ddd;
            background: #2cab8f;
            width: 120px;
            height: 120px;
            text-align: center;
            color: #fff;
            font-size: 36px;
            line-height: 110px;
            text-decoration: none;
        }
    }
}
.parsley-errors-list{
    &.filled{
        margin: 0;
        padding: 0;
        li{
            background: #db3b3b;
            color: #fff;
            padding: 5px;
        }
    }
}

/**
* Developer: Nimmy J Vipin
* Date :12/9/2016
* Feature :Admin login page
**/

.loginpage {
    padding-top: 60px;
    background: #76b852;
    height: 600px;
}

.admin-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    input {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    button {
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
        &:hover, &:active, &:focus {
            background: #43A047;
        }
    }
}




/**eof Admin login page**/