.login-modal .modal-dialog {
  max-width: 480px; }
.login-modal .modal-body {
  padding: 0;
  background: #f9f9f9;
  position: relative; }
  .login-modal .modal-body .close {
    position: absolute;
    right: 5px;
    top: 5px; }
  .login-modal .modal-body .tab-content {
    padding: 20px;
    margin-bottom: 0; }
  .login-modal .modal-body ul.login-nav {
    margin: 0;
    padding: 0; }
    .login-modal .modal-body ul.login-nav li {
      width: 50%;
      float: left;
      display: block; }
      .login-modal .modal-body ul.login-nav li a {
        display: block;
        margin: 0;
        width: 100%;
        padding: 20px 25px;
        background: #eee;
        font-size: 18px;
        text-align: center;
        color: #555;
        font-weight: bold; }
      .login-modal .modal-body ul.login-nav li.active a {
        background: #f9f9f9; }

.divider {
  display: block;
  position: relative;
  margin: 40px 0;
  border: 1px solid #eee;
  width: 100%; }
  .divider:after {
    position: absolute;
    content: 'Or';
    top: -20px;
    margin-left: -30px;
    left: 50%;
    width: 60px;
    height: 40px;
    font-size: 24px;
    text-transform: uppercase;
    background: #f9f9f9;
    color: #aaa;
    text-align: center; }

.c-social-media {
  display: table;
  margin: 20px auto;
  padding: 0; }
  .c-social-media li {
    display: inline-block;
    list-style: none;
    margin-right: 5px; }
    .c-social-media li:last-child {
      margin-right: 0; }
    .c-social-media li a {
      text-align: center;
      font-size: 16px;
      display: block;
      color: #fff;
      width: 42px;
      height: 42px;
      padding: 10px;
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 4px;
      -moz-border-radius-bottomleft: 4px;
      -moz-border-radius-topleft: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      border-width: 1px;
      border-style: solid;
      -webkit-transition: all 0.3s ease 0.03s;
      -moz-transition: all 0.3s ease 0.03s;
      -ms-transition: all 0.3s ease 0.03s;
      transition: all 0.3s ease 0.03s; }
    .c-social-media li.facebook a {
      background: #3b5998;
      border-color: #344e86; }
      .c-social-media li.facebook a:hover, .c-social-media li.facebook a:active, .c-social-media li.facebook a:focus {
        background: #344e86; }
    .c-social-media li.twitter a {
      background: #1b95e0;
      border-color: #1886c9; }
      .c-social-media li.twitter a:hover, .c-social-media li.twitter a:active, .c-social-media li.twitter a:focus {
        background: #1886c9; }
    .c-social-media li.google a {
      background: #db4437;
      border-color: #d33426; }
      .c-social-media li.google a:hover, .c-social-media li.google a:active, .c-social-media li.google a:focus {
        background: #d33426; }
    .c-social-media li.linkedin a {
      background: #287bbc;
      border-color: #246da7; }
      .c-social-media li.linkedin a:hover, .c-social-media li.linkedin a:active, .c-social-media li.linkedin a:focus {
        background: #344e86; }
