<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">
              {{user.name}}
            </h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Company/Student</label>
                    <p>
                      {{user.type? 'Company':'Student'}}
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Username</label>
                    <p>{{user.username}}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Email address</label>
                    <p>
                     {{user.email}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Description</label>
                    <article>
                      {{user.describe}}
                    </article>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <p>
                      {{user.home_city}}
                    </p>
                    <p>
                      {{user.home_address}}
                    </p>
                    <p>
                      {{user.home_state_name}}
                    </p>
                  </div>
                </div>
              </div>
              <!-- Student section -->
              <div ng-if="user.type==0">
                <!-- TAB NAVIGATION -->
                <ul class="nav nav-tabs" role="tablist">
                  <li><a ui-sref="user_show.qualification({id:user.id})" role="tab" data-toggle="tab">Qualification</a></li>
                  <li><a ui-sref="user_show.experience({id:user.id})" role="tab" data-toggle="tab">Experience</a></li>
                  <li><a ui-sref="user_show.preference({id:user.id})" role="tab" data-toggle="tab">Preference</a></li>
                </ul>
                <!-- TAB CONTENT -->
                <div class="tab-content">
                  <div class="active tab-pane fade in" id="tab1">
                   <ui-view></ui-view>
                  </div>
                </div>

              </div>
              <!-- end student section -->
              <!-- Company Section -->
              <div ng-if="user.type==1">
              <div class="row">
                <div class="col-xs-12">
                  <h4>Company</h4>
                  <div class="internship-details">
                    <table class="table table-responsive">
                      <tbody>
                      <tr>
                        <td>Company Name</td>
                        <td>{{user.company.name}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{user.company.email}}</td>
                      </tr>
                      <tr>
                        <td>Phone</td>
                        <td>{{user.company.phone}}</td>
                      </tr>
                      <tr>
                        <td>Website</td>
                        <td>
                          <a ng-href="{{user.company.website}}" target="_blank">
                            {{user.company.website}}
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>
                          <p>
                            {{user.company.city}}
                          </p>
                          <p>
                            {{user.company.address}}
                          </p>
                          <p>
                            {{user.company.state_name}}
                          </p>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
                </div>
              <!-- end company section -->
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
                 alt="..."/>
          </div>
          <div class="content">
            <div class="author">
              <a href="#">
                <img class="avatar border-gray" ng-src="{{user.profile_image}}" alt="..." ng-if="user.profile_image"/>

                <h4 class="title"><br/>
                  <small>{{user.name}}</small>
                </h4>
              </a>
            </div>
            <p class="description text-center">
              {{user.describe}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>